* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #002833;
    color: #839496;
    font-family: monospace;
    font-size: 11pt;
    line-height: 1.3;
    -webkit-font-smoothing: antialiased;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
}

a {
    color: #42b1c2;
    text-decoration: initial;
    outline: 0;
}

.links-container {
    padding: 10px;
}

.link {
    display: block;
    padding-left: 20%;
    font-size: 12pt;
}

.link:first-of-type {
    padding-top: 10px;
}

ul {
    padding: 10px;
    padding-top: 0;
}

li {
    width: 100%;
    list-style-type: none;
    display: block;
}

li:after {
    content: '';
    display: block;
    clear: both;
}

.start-container {
    margin-top: 20px;
    border-top: 10px solid rgba(131,148,150,.2);
}

.start,
.tag,
.level,
.message {
    float: left;
}

.start {
    padding-left: 20%;
    font-size: 16pt;
    margin-top: 10px;
    margin-bottom: 10px;
}

.tag {
    width: 15%;
    overflow: hidden;
    text-align: right;
    direction: rtl;
}

.level {
    width: 3%;
    text-align: center;
    color: #002833;
    margin-left: 1%;
}

.level.debug {
    background-color: #839496;
}

.level.info {
    background-color: #596e75;
}

.level.warn {
    background-color: #667b83;
}

.level.error {
    background-color: #c94c22;
}

.message {
    margin-left: 1%;
    width: 78%;
    word-wrap: break-word;
}
